<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Expenses
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Expenses</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- .modals -->

    <div class="modal fade" id="alertPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Alert</h4>
                </div>
                <div class="modal-body">
                    <span id="alertMessage">Username and password should not be blank.</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_full" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmExpensePopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="font-size:larger;color:white;background-color:#3c8dbc;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Delete Expense</h4>
                </div>
                <div class="modal-body">
                    <span id="confirmMessage">Are you sure you want to complete the order</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_no" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn_full" ng-click="RemoveExpense()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modals -->

    <div class="row jumbotron" ng-show="AddExpense" style="padding-top:unset;padding-bottom:unset;background-color: unset;">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">{{ExpensePopupHeading}}</h3>
                    <h5 class="modal-title" style="color:red">{{Errormessage}}</h5>
                </div>
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10px;">
                                    <label for="inputPassword3" class="col-sm-3 control-label" style="text-align:center;">Date</label>

                                    <div class="col-sm-5" style="margin-bottom: 6px;">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right" readonly="readonly" data-date-format="yyyy-mm-dd" ng-model="NewExpense.ExpenseDate | date: 'yyyy-MM-dd'" id="datepickerExpenseDate">
                                        </div>
                                    </div>
                                    <br />
                                    <br />

                                    <label for="inputEmail3" class="col-sm-3 control-label" style="text-align:center;">Expense Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputEmail3" ng-model="NewExpense.ExpenseName" placeholder="Expense Name">
                                    </div>

                                    <br />
                                    <br />
                                    <label for="inputEmail3" class="col-sm-3 control-label" style="text-align:center;">Paid By</label>

                                    <div class="col-sm-9" style="margin-bottom: 6px;">
                                        <select class="form-control" id="NewPurchaseSupplierID" ng-model="NewExpense.PaidBy" ng-options="item.IDNUMBER as item.UserName for item in Users">
                                            <option value="">Select User</option>
                                        </select>
                                    </div>
                                    <br />
                                    <br />
                                    <label for="inputEmail3" class="col-sm-3 control-label" style="text-align:center;">Wallet</label>

                                    <div class="col-sm-9" style="margin-bottom: 6px;">
                                        <input type="text" id="UserMobileNo" class="form-control" ng-model="NewExpense.Wallet" onkeypress="return isNumber(event);" placeholder="Wallet">
                                    </div>
                                    <br />
                                    <br />
                                    <label for="inputEmail3" class="col-sm-3 control-label" style="text-align:center;">Item</label>

                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputEmail3" ng-model="NewExpense.Item" placeholder="Item Name">
                                    </div>
                                    <br />
                                    <br />
                                    <label for="inputEmail3" class="col-sm-3 control-label" style="text-align:center;">Note</label>

                                    <div class="col-sm-9">
                                        <textarea type="text" class="form-control" id="inputEmail3" ng-model="NewExpense.Note" placeholder="Note"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="text-align: center;margin-bottom: 10px;">
                                </div>
                                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10px;">
                                    <label for="inputPassword3" class="col-sm-3 control-label" style="text-align:center;">Currency</label>

                                    <div class="col-sm-9">
                                        <select id="drpcurrency" ng-model="NewExpense.Currency" ng-change="ChangeCurrency()" class="form-control">
                                            <option value="AED">United Arab Emirates Dirham (AED)</option>
                                            <option value="ANG">Netherlands Antillean Guilder (ANG)</option>
                                            <option value="ARS">Argentine Peso (ARS)</option>
                                            <option value="AUD">Australian Dollar (AUD)</option>
                                            <option value="BDT">Bangladeshi Taka (BDT)</option>
                                            <option value="BGN">Bulgarian Lev (BGN)</option>
                                            <option value="BHD">Bahraini Dinar (BHD)</option>
                                            <option value="BND">Brunei Dollar (BND)</option>
                                            <option value="BOB">Bolivian Boliviano (BOB)</option>
                                            <option value="BRL">Brazilian Real (BRL)</option>
                                            <option value="BWP">Botswanan Pula (BWP)</option>
                                            <option value="CAD">Canadian Dollar (CAD)</option>
                                            <option value="CHF">Swiss Franc (CHF)</option>
                                            <option value="CLP">Chilean Peso (CLP)</option>
                                            <option value="CNY">Chinese Yuan (CNY)</option>
                                            <option value="COP">Colombian Peso (COP)</option>
                                            <option value="CRC">Costa Rican Colón (CRC)</option>
                                            <option value="CZK">Czech Republic Koruna (CZK)</option>
                                            <option value="DKK">Danish Krone (DKK)</option>
                                            <option value="DOP">Dominican Peso (DOP)</option>
                                            <option value="DZD">Algerian Dinar (DZD)</option>
                                            <option value="EEK">Estonian Kroon (EEK)</option>
                                            <option value="EGP">Egyptian Pound (EGP)</option>
                                            <option value="EUR">Euro (EUR)</option>
                                            <option value="FJD">Fijian Dollar (FJD)</option>
                                            <option value="GBP">British Pound Sterling (GBP)</option>
                                            <option value="HKD">Hong Kong Dollar (HKD)</option>
                                            <option value="HNL">Honduran Lempira (HNL)</option>
                                            <option value="HRK">Croatian Kuna (HRK)</option>
                                            <option value="HUF">Hungarian Forint (HUF)</option>
                                            <option value="IDR">Indonesian Rupiah (IDR)</option>
                                            <option value="ILS">Israeli New Sheqel (ILS)</option>
                                            <option value="INR">Indian Rupee (INR)</option>
                                            <option value="JMD">Jamaican Dollar (JMD)</option>
                                            <option value="JOD">Jordanian Dinar (JOD)</option>
                                            <option value="JPY">Japanese Yen (JPY)</option>
                                            <option value="KES">Kenyan Shilling (KES)</option>
                                            <option value="KRW">South Korean Won (KRW)</option>
                                            <option value="KWD">Kuwaiti Dinar (KWD)</option>
                                            <option value="KYD">Cayman Islands Dollar (KYD)</option>
                                            <option value="KZT">Kazakhstani Tenge (KZT)</option>
                                            <option value="LBP">Lebanese Pound (LBP)</option>
                                            <option value="LKR">Sri Lankan Rupee (LKR)</option>
                                            <option value="LTL">Lithuanian Litas (LTL)</option>
                                            <option value="LVL">Latvian Lats (LVL)</option>
                                            <option value="MAD">Moroccan Dirham (MAD)</option>
                                            <option value="MDL">Moldovan Leu (MDL)</option>
                                            <option value="MKD">Macedonian Denar (MKD)</option>
                                            <option value="MUR">Mauritian Rupee (MUR)</option>
                                            <option value="MVR">Maldivian Rufiyaa (MVR)</option>
                                            <option value="MXN">Mexican Peso (MXN)</option>
                                            <option value="MYR">Malaysian Ringgit (MYR)</option>
                                            <option value="NAD">Namibian Dollar (NAD)</option>
                                            <option value="NGN">Nigerian Naira (NGN)</option>
                                            <option value="NIO">Nicaraguan Córdoba (NIO)</option>
                                            <option value="NOK">Norwegian Krone (NOK)</option>
                                            <option value="NPR">Nepalese Rupee (NPR)</option>
                                            <option value="NZD">New Zealand Dollar (NZD)</option>
                                            <option value="OMR">Omani Rial (OMR)</option>
                                            <option value="PEN">Peruvian Nuevo Sol (PEN)</option>
                                            <option value="PGK">Papua New Guinean Kina (PGK)</option>
                                            <option value="PHP">Philippine Peso (PHP)</option>
                                            <option value="PKR">Pakistani Rupee (PKR)</option>
                                            <option value="PLN">Polish Zloty (PLN)</option>
                                            <option value="PYG">Paraguayan Guarani (PYG)</option>
                                            <option value="QAR">Qatari Rial (QAR)</option>
                                            <option value="RON">Romanian Leu (RON)</option>
                                            <option value="RSD">Serbian Dinar (RSD)</option>
                                            <option value="RUB">Russian Ruble (RUB)</option>
                                            <option value="SAR">Saudi Riyal (SAR)</option>
                                            <option value="SCR">Seychellois Rupee (SCR)</option>
                                            <option value="SEK">Swedish Krona (SEK)</option>
                                            <option value="SGD">Singapore Dollar (SGD)</option>
                                            <option value="SKK">Slovak Koruna (SKK)</option>
                                            <option value="SLL">Sierra Leonean Leone (SLL)</option>
                                            <option value="SVC">Salvadoran Colón (SVC)</option>
                                            <option value="THB">Thai Baht (THB)</option>
                                            <option value="TND">Tunisian Dinar (TND)</option>
                                            <option value="TRY">Turkish Lira (TRY)</option>
                                            <option value="TTD">Trinidad and Tobago Dollar (TTD)</option>
                                            <option value="TWD">New Taiwan Dollar (TWD)</option>
                                            <option value="TZS">Tanzanian Shilling (TZS)</option>
                                            <option value="UAH">Ukrainian Hryvnia (UAH)</option>
                                            <option value="UGX">Ugandan Shilling (UGX)</option>
                                            <option value="USD" ng-selected="USD">US Dollar (USD)</option>
                                            <option value="UYU">Uruguayan Peso (UYU)</option>
                                            <option value="UZS">Uzbekistan Som (UZS)</option>
                                            <option value="VEF">Venezuelan Bolívar (VEF)</option>
                                            <option value="VND">Vietnamese Dong (VND)</option>
                                            <option value="XOF">CFA Franc BCEAO (XOF)</option>
                                            <option value="YER">Yemeni Rial (YER)</option>
                                            <option value="ZAR">South African Rand (ZAR)</option>
                                            <option value="ZMK">Zambian Kwacha (ZMK)</option>
                                        </select>
                                    </div>
                                    <br />
                                    <br />
                                    <label for="inputPassword3" class="col-sm-3 control-label" style="text-align:center;">Cost</label>

                                    <div class="col-sm-9">
                                        <input type="text" id="NewPurchaseShippingName" class="form-control" ng-change="ChangeCurrency()" ng-model="NewExpense.Cost" onkeypress="return isNumber(event);" placeholder="Cost">
                                    </div>
                                    <br />
                                    <br />
                                    <label for="inputEmail3" class="col-sm-3 control-label" style="text-align:center;">USD Cost</label>

                                    <div class="col-sm-9" style="margin-bottom: 6px;">
                                        <input type="text" id="NewPurchaseShippingAddress" class="form-control" ng-model="NewExpense.USDCost" onkeypress="return isNumber(event);" placeholder="USD Cost">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                        </div>
                    </div>
                </form>
                <div class="box-footer">
                    <button type="button" class="btn btn-default pull-right" ng-click="CloseAddExpense()">Close</button>
                    <button type="button" ng-click="SaveExpense()" class="btn btn-primary pull-right" style="margin-right: 10px;" id="btnSave">{{ExpensePopupBtn}}</button>
                </div>
            </div>
            <!--/.col (right) -->
        </div>
    </div>

    <div class="row jumbotron" ng-show="ExpenseGrid" style="padding-top:unset;padding-bottom:unset;background-color: unset;">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Expenses</h3>
                    <button style="float:right;width: 150px;" ng-click="ClearExpense()" class="btn btn-block btn-primary"><i class="fa fa-group"></i>&nbsp; Add Expense</button>
                </div>

                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6">
                        <div class="dataTables_filter">
                            <input ng-model="SearchUser" class="form-control" type="search" placeholder="Search" style="float: right;width: 200px;margin-right: 10px;">
                            <label style="float: right;margin-right: 10px;margin-top:7px;">Search:</label>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div id="tblExpenses2" class="box-body" style="overflow-x: auto;">
                    <table datatable="ng" id="tblExpenses" class="table table-striped dataTable" style="width:100%;">
                        <thead>
                            <tr>
                                <th ng-click="SortExpense('ExpenseName')">
                                    Expense Name
                                    <span ng-show="sortKey=='ExpenseName'" style="float: right;" ng-class="{'fa fa-sort-amount-asc':reverse,'fa fa-sort-amount-desc':!reverse}"></span>
                                </th>
                                <th ng-click="SortExpense('PaidBy')">
                                    Paid By
                                    <span ng-show="sortKey=='PaidBy'" style="float: right;" ng-class="{'fa fa-sort-amount-asc':reverse,'fa fa-sort-amount-desc':!reverse}"></span>
                                </th>
                                <th ng-click="SortExpense('Wallet')">
                                    Wallet
                                    <span ng-show="sortKey=='Wallet'" style="float: right;" ng-class="{'fa fa-sort-amount-asc':reverse,'fa fa-sort-amount-desc':!reverse}"></span>
                                </th>
                                <th ng-click="SortExpense('Currency')">
                                    Currency
                                    <span ng-show="sortKey=='Currency'" style="float: right;" ng-class="{'fa fa-sort-amount-asc':reverse,'fa fa-sort-amount-desc':!reverse}"></span>
                                </th>
                                <th ng-click="SortExpense('Cost')">
                                    Cost
                                    <span ng-show="sortKey=='Cost'" style="float: right;" ng-class="{'fa fa-sort-amount-asc':reverse,'fa fa-sort-amount-desc':!reverse}"></span>
                                </th>
                                <th ng-click="SortExpense('USDCost')">
                                    USD Cost
                                    <span ng-show="sortKey=='USDCost'" style="float: right;" ng-class="{'fa fa-sort-amount-asc':reverse,'fa fa-sort-amount-desc':!reverse}"></span>
                                </th>
                                <th>Edit</th>
                                <th>Delete</th>
                                <th ng-show="false">IDNUMBER</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr dir-Paginate="Expense in Expenses| itemsPerPage:ExpenseitemsPerPage | orderBy:sortKey:reverse | filter: SearchUser ">
                                <td>{{Expense.ExpenseName}}</td>
                                <td>{{Expense.PaidBy}}</td>
                                <td>{{Expense.Wallet}}</td>
                                <td>{{Expense.Currency}}</td>
                                <td>{{Expense.Cost}}</td>
                                <td>{{Expense.USDCost}}</td>
                                <td><button class="btn" style="font-size: 24px;background-color: transparent;" ng-click="EditExpense(Expense.IDNUMBER)"><i class="fa fa-edit"></i></button></td>
                                <td><button class="btn" style="font-size: 24px;background-color: transparent;" ng-click="DeleteExpense(Expense.IDNUMBER)"><i class="fa fa-trash-o"></i></button></td>
                                <td ng-show="false">{{Expense.IDNUMBER}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <select ng-show="Expenses.length > 10" class="form-control" ng-model="ExpenseitemsPerPage" style="display: table-footer-group;width: 65px;"><option value="10" ng-selected="10">10</option><option value="20">20</option><option value="50">50</option><option value="0">All</option></select>

                    <span ng-show="Expenses.length > 10">&nbsp;&nbsp;  Showing rows of {{Expenses.length}} entries</span>
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" style="float: right;margin-top:-20px;"></dir-pagination-controls>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>

    <!-- /.row -->
</section>
<!-- /.content -->